<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div >
            <img src="http://cdn-img.easylogo.cn/gif/51/51700.gif" />
        </div>
        <nav >
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "About")">About</a></li>
                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
            </ul>
        </nav>
    </header>
    <br class="clear" />
    @RenderBody() 
    <footer>
        <div>
            &copy; 2014 Fake Studios
        </div>
         <nav>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "About")">About</a></li>
                <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
            </ul>
        </nav>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
