@model IEnumerable<eCommerce.Models.Category>

<ul>
    @foreach (var category in Model)
    {

        if (category.Subcategories.Any())
        {
            <li class="has-sub @(category == Model.Last() ? "last" : "")">
                <a href="@Url.Action("ByCategory", "Shop", new { id = category.CategoryID })">
                <span>@category.Name</span>
                </a>
                @Html.Partial("Navigation", category.Subcategories.OrderBy(x => x.Name))
            </li>
        }
        else
        {
            <li class="@(category == Model.Last() ? "last" : "")">
                <a href="@Url.Action("ByCategory", "Shop", new { id = category.CategoryID })">
                <span>@category.Name</span>
                </a>
            </li>
        }
        
    }
</ul>
