@model eCommerce.Models.Payment

@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Payment</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CCNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CCNumber)
            @Html.ValidationMessageFor(model => model.CCNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CVV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CVV)
            @Html.ValidationMessageFor(model => model.CVV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpiryMonth)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpiryMonth)
            @Html.ValidationMessageFor(model => model.ExpiryMonth)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExpiryYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExpiryYear)
            @Html.ValidationMessageFor(model => model.ExpiryYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TransactionNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransactionNumber)
            @Html.ValidationMessageFor(model => model.TransactionNumber)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
