<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Electronics Warehouse</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Electronics Warehouse", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    
                    @*Display the user's cart*@
                    <div class="miniCart">
                        @Html.Action("MiniCart", "Cart")
                    </div>

                    <div class="search">
                        @using (Html.BeginForm("Search", "Shop"))
                        {
                            <input type="text" name="search" placeholder="Search Items..." /><input type="submit" value="GO" />
                        }
                    </div>


                        @*if the user is logged and an admin, show links to the admin sections*@
                        @if (Request.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <nav>
                            <ul id="menu">
                                <li>
                                    <a href="@Url.Action("Index", "Products")">
                                        Products
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ProductImages")">
                                        Images
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Reviews")">
                                        Reviews
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Suppliers")">
                                        Suppliers
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Categories")">
                                        Categories
                                    </a>
                                </li>
                            </ul>
                                </nav>
                        }
                </div>
                <br style="clear:both" />
                 <nav id="cssmenu">
                        @*Make a call to display navigation*@
                        @Html.Action("Navigation", "Home")

                 </nav>
            </div>
        </header>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        @*Import the main.js script *@
        <script src="/Scripts/Main.js"></script>
    </body>
</html>
