@{
    ViewBag.Title = "Index";
}

<h2>About</h2>

<ul class="about">
    @*setting the data-url to go to the who view on
    on the about controller.  *@
    <li class="active" data-url="@Url.Action("Who", "About")">
        Who?
    </li>
    <li data-url="@Url.Action("What", "About")">
        What?
    </li>
    <li data-url="@Url.Action("Where", "About")">
        Where?
    </li>
    <li data-url="@Url.Action("Why", "About")">
        Why?
    </li>
    <li data-url="@Url.Action("How", "About")">
        How?
    </li>
</ul>

@*Tab content area*@
<div id="tabContent">
    @Html.Partial("who")
</div>