<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <h1>My Blog</h1>
        @*if Request.IsAuthenticated is true
        the user is logged in*@
        @if (Request.IsAuthenticated)
        {
            <div>
                 Welcome @User.Identity.Name!  @*welcome <username>*@
                 &nbsp;|&nbsp;<a href="@Url.Action("Logout", "Account")">Logout</a>
                 &nbsp;|&nbsp;<a href="@Url.Action("Create", "Post")">Create a new post</a>
            </div>
        }
        else
        {
            <div>
              <a href="@Url.Action("Login", "Account")">Log In</a>   
              &nbsp;|&nbsp;<a href="@Url.Action("Register", "Account")">Register</a>
            </div>
        }
    </header>
    @*RenderBody() is where our views get
    rendered (output)*@
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
